/* HEADER */

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: #1f2a33;
    color: #fff;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    font-size: 1.1rem;
    display: flex;
    gap: 8px;
    align-items: center;
}

.header-right {
    display: flex;
    gap: 10px;
}

.menu-select {
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
